fastapi
uvicorn
flask
flask_cors
pymongo
requests
pandas
schedule
selenium
openai
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google.oauth2
instagrapi
vaderSentiment
Pillow
python-dotenv
